*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:cursive;
    font-size: 14px;
}

button{
    border: none;
    background: none;
}

header{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;
}

.logo-block{
    display: inline-block;
    padding: 8px 8px;
    font-size: 16px;
}
.logo-block #shift{
    width: 100%;
    height: 100%;
    color: rgb(47, 255, 92);
}

nav ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.theme-btn{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.theme-btn button{
    font-family:cursive;
    background: none;
    border: none;
    border-radius: 4px;
}
.theme-btn .theme{
    padding: 4px 8px;
    border-radius: 4px;
    /* background: rgb(249, 4, 4); */
    font-size: 20px;
}
.theme-btn .quota-btn{
    padding: 8px 16px;
    background: rgb(60, 174, 60);
}

.hero-page{
    background-color: #05070e;
    display: flex;
}

.hero-1{
    /* border: 1px solid red; */
    margin-top: 2.5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8px 16px;
}
.hero-1 .data{
    display: flex;
    gap: 1rem;
}

.data .data-1 span{
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 24px;
    color: green;
}
.data .data-2 span{
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 24px;
    color: green;
}

.gosolar{
    display: inline-block;
    width: 100%;
    max-width: 10rem;
    height: 2rem;
    background: green;
    padding: 8px 16px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quota{
    margin-right: 1rem;
    background: rgb(50, 147, 50);
    padding: 1rem 2rem;
    border-radius: 8px;
}
.call{
    background: #141212;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.hero-2{
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    background: #222121;
    background-color: #05070e;
    border: 0.5px solid #90969c;
    border-radius: 8px;
    margin: 8px;
    margin-top: 2rem;
}
.hero-2 .input-block{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-inline: 1rem;
}
.label{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.range{
    display: flex;
    justify-content: space-between;
}

select{
    display: inline-block;
    padding: 12px 16px;
    border-radius: 8px;
}

.hero-2 .results{
    /* border: 1px solid green; */
    padding: 8px 8px;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hero-2 .results div{
    width: 100%;
    background: red;
    padding: 16px 24px;
    flex: 1 1 220px;
    border-radius: 12px;
}

.hero-2 .results .assessment{
    flex: 1 1 100%;
    border: none;
    background: none;
    background: green;
}
.hero-2 .results .savings{
    background: rgba(10, 62, 9, 0.3);
}
.hero-2 .results .offset{
    background: rgba(20, 83, 45, 0.3);
}
.hero-2 .results .payback{
    background: rgb(67, 23, 23);
}
.hero-2 .results .credit{
    background: rgb(27, 27, 83);
}

@media(max-width:768px){
    header{
        display: none;
    }
    .hero-page{
        display: flex;
        flex-direction: column;
    }
    .hero-1{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .hero-1 .buttons{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .quota{
        width: 100%;
    }

    .call{
        margin-top: 1rem;
    }
}